.first-nav {

    grid-column: 7/10;
    grid-row: 1/2;
    @include navigation;

    @include response(xl){
        grid-column: 6 / 10;
    }

    @include response(lg){
        grid-column: 5 / 10;
    }

    @include response(md){
        grid-column: 4 / 10;
    }

    @include response(sm){
        grid-column: 2 / 10;
    }
    &-list{
        flex-direction: row!important;
    }
}

.second-nav{
    grid-column: 3 / 8;
    grid-row: 3 / 4;
    
    @include navigation;
    
    @include response(lg){
        grid-column: 2 / 9;
    }

    @include response(md){
        grid-column: 1 /-1;
    }

    .nav-item{
        &:hover{
            font-weight: bolder;
        }
    .nav-active{
        background-color: #333;
    border-radius: 1.5rem;
    color: #fff!important;
    padding: .1rem 1rem .1rem 1rem;
    }
    }

    .navbar-toggler {
        font-size: 2.5rem;
        box-shadow: none !important;
        padding: 0;
        margin: auto;
    
        &[aria-expanded=true] {
            .fa-bars {
                display: none;
            }
            .fa-times {
                display: block;
            }
        }
        &[aria-expanded=false] {
            .fa-times {
                display: none;
            }
    
        }
    }
}


ul.dropdown-cart li .item-left{
    float:left;
}
ul.dropdown-cart li .item-left img,
ul.dropdown-cart li .item-left span.item-info{
    float:left;
}
ul.dropdown-cart li .item-left span.item-info{
    margin-left:10px;   
}
ul.dropdown-cart li .item-left span.item-info span{
    display:block;
}
ul.dropdown-cart li .item-right{
    float:right;
}
ul.dropdown-cart li .item-right button{
    margin-top:14px;
}   