.shop-detail-page .card {
  background-color: #fff;
  padding: 14px;
  border: none;
  font-size: 2rem;
}

.shop-detail-page .card:hover {
  -webkit-transform: none !important;
          transform: none !important;
}

.shop-detail-page .card h6 {
  font-size: 2rem;
}

.shop-detail-page .demo {
  width: 100%;
}

.shop-detail-page ul {
  list-style: none outside none;
  padding-left: 0;
  margin-bottom: 0;
}

.shop-detail-page .card-title {
  margin-bottom: 0.75rem;
  font-size: 1.6rem;
  margin-top: 0.75rem;
}

.shop-detail-page li {
  display: block;
  float: left;
  margin-right: 6px;
  cursor: pointer;
}

.shop-detail-page img {
  display: block;
  height: auto;
  width: 100%;
}

.shop-detail-page .stars i {
  color: #f6d151;
}

.shop-detail-page .stars span {
  font-size: 13px;
}

.shop-detail-page hr {
  color: #d4d4d4;
}

.shop-detail-page .badge {
  padding: 5px !important;
  padding-bottom: 6px !important;
  background-color: #8bbae9 !important;
}

.shop-detail-page .badge i {
  font-size: 10px;
}

.shop-detail-page .profile-image {
  width: 35px;
}

.shop-detail-page .comment-ratings i {
  font-size: 13px;
  color: #f6d151;
}

.shop-detail-page .username {
  font-size: 1.4rem;
}

.shop-detail-page .comment-profile {
  line-height: 17px;
}

.shop-detail-page .date span {
  font-size: 12px;
}

.shop-detail-page .p-ratings i {
  color: #f6d151;
  font-size: 12px;
}

.shop-detail-page .btn-long {
  padding-left: 35px;
  padding-right: 35px;
}

.shop-detail-page .buttons {
  margin-top: 15px;
}

.shop-detail-page .buttons .btn {
  height: 46px;
  font-size: 1.5rem;
}

.shop-detail-page .buttons .cart {
  border-color: #ff7676;
  color: #ff7676;
}

.shop-detail-page .buttons .cart:hover {
  background-color: #e86464 !important;
  color: #fff;
}

.shop-detail-page .buttons .buy {
  color: #fff;
  background-color: #ff7676;
  border-color: #ff7676;
}

.shop-detail-page .buttons .buy:focus {
  color: #fff;
  background-color: #ff7676;
  border-color: #ff7676;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.shop-detail-page .buttons .buy:hover {
  color: #fff;
  background-color: #e86464;
  border-color: #e86464;
}

.shop-detail-page .buttons .wishlist {
  background-color: #fff;
  border-color: #ff7676;
}

.shop-detail-page .buttons .wishlist:hover {
  background-color: #e86464;
  border-color: #e86464;
  color: #fff;
}

.shop-detail-page .buttons .wishlist:hover i {
  color: #fff;
}

.shop-detail-page .buttons .wishlist i {
  color: #ff7676;
}

.shop-detail-page .buy:active {
  color: #fff;
  background-color: #ff7676;
  border-color: #ff7676;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.shop-detail-page .followers {
  font-size: 9px;
  color: #d6d4d4;
}

.shop-detail-page .store-image {
  width: 42px;
}

.shop-detail-page .dot {
  height: 10px;
  width: 10px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  margin-right: 5px;
}

.shop-detail-page .bullet-text {
  font-size: 1.5rem;
}

.shop-detail-page .my-color {
  margin-top: 10px;
  margin-bottom: 10px;
}

.shop-detail-page label.radio {
  cursor: pointer;
}

.shop-detail-page label.radio input {
  position: absolute;
  top: 0;
  left: 0;
  visibility: hidden;
  pointer-events: none;
}

.shop-detail-page label.radio input:checked + span {
  color: #fff;
  position: relative;
}

.shop-detail-page label.radio input:checked + span::before {
  opacity: 1;
  content: '\2713';
  position: absolute;
  font-size: 13px;
  font-weight: bold;
  left: 4px;
}

.shop-detail-page label.radio span {
  border: 2px solid #8f37aa;
  display: inline-block;
  color: #8f37aa;
  border-radius: 50%;
  width: 25px;
  height: 25px;
  text-transform: uppercase;
  -webkit-transition: 0.5s all;
  transition: 0.5s all;
}

.shop-detail-page label.radio .red {
  background-color: red;
  border-color: red;
}

.shop-detail-page label.radio .blue {
  background-color: blue;
  border-color: blue;
}

.shop-detail-page label.radio .green {
  background-color: green;
  border-color: green;
}

.shop-detail-page label.radio .orange {
  background-color: orange;
  border-color: orange;
}

.shop-detail-page .card-body {
  padding: 0.25rem !important;
}

.shop-detail-page .shop-descript {
  font-size: 1.6rem;
}

@media only screen and (max-width: 600px) {
  .shop-detail-page #lightSlider {
    display: none;
  }
  .shop-detail-page .lSSlideOuter .lSPager.lSGallery {
    width: 100% !important;
  }
  .shop-detail-page li {
    width: 100% !important;
  }
  .shop-detail-page .lSSlideOuter .lSPager.lSGallery li:not(:first-child) {
    display: none !important;
  }
}
/*# sourceMappingURL=product-detail.css.map */