.shop-detail-page {
	.card {
		background-color: #fff;
		padding: 14px;
		border: none;
		font-size: 2rem;
		&:hover {
			transform: none !important;
		}
		h6 {
			font-size: 2rem;
		}
	}
	.demo {
		width: 100%;
	}
	ul {
		list-style: none outside none;
		padding-left: 0;
		margin-bottom: 0;
	}
	.card-title {
		margin-bottom: 0.75rem;
		font-size: 1.6rem;
		margin-top: 0.75rem;
	}
	li {
		display: block;
		float: left;
		margin-right: 6px;
		cursor: pointer;
	}
	img {
		display: block;
		height: auto;
		width: 100%;
	}
	.stars {
		i {
			color: #f6d151;
		}
		span {
			font-size: 13px;
		}
	}
	hr {
		color: #d4d4d4;
	}
	.badge {
		padding: 5px !important;
		padding-bottom: 6px !important;
		background-color: #8bbae9 !important;
		i {
			font-size: 10px;
		}
	}
	.profile-image {
		width: 35px;
	}
	.comment-ratings {
		i {
			font-size: 13px;
			color: #f6d151;
		}
	}
	.username {
		font-size: 1.4rem;
	}
	.comment-profile {
		line-height: 17px;
	}
	.date {
		span {
			font-size: 12px;
		}
	}
	.p-ratings {
		i {
			color: #f6d151;
			font-size: 12px;
		}
	}
	.btn-long {
		padding-left: 35px;
		padding-right: 35px;
	}
	.buttons {
		margin-top: 15px;
		.btn {
			height: 46px;
			font-size: 1.5rem;
		}
		.cart {
			border-color: #ff7676;
			color: #ff7676;
			&:hover {
				background-color: #e86464 !important;
				color: #fff;
			}
		}
		.buy {
			color: #fff;
			background-color: #ff7676;
			border-color: #ff7676;
			&:focus {
				color: #fff;
				background-color: #ff7676;
				border-color: #ff7676;
				-webkit-box-shadow: none;
				box-shadow: none;
			}
			&:hover {
				color: #fff;
				background-color: #e86464;
				border-color: #e86464;
			}
		}
		.wishlist {
			background-color: #fff;
			border-color: #ff7676;
			&:hover {
				background-color: #e86464;
				border-color: #e86464;
				color: #fff;
				i {
					color: #fff;
				}
			}
			i {
				color: #ff7676;
			}
		}
	}
	.buy {
		&:active {
			color: #fff;
			background-color: #ff7676;
			border-color: #ff7676;
			-webkit-box-shadow: none;
			box-shadow: none;
		}
	}
	.followers {
		font-size: 9px;
		color: #d6d4d4;
	}
	.store-image {
		width: 42px;
	}
	.dot {
		height: 10px;
		width: 10px;
		background-color: #bbb;
		border-radius: 50%;
		display: inline-block;
		margin-right: 5px;
	}
	.bullet-text {
		font-size: 1.5rem;
	}
	.my-color {
		margin-top: 10px;
		margin-bottom: 10px;
	}
	label.radio {
		cursor: pointer;
		input {
			position: absolute;
			top: 0;
			left: 0;
			visibility: hidden;
			pointer-events: none;
			&:checked {
				+ {
					span {
						color: #fff;
						position: relative;
						&::before {
							opacity: 1;
							content: '\2713';
							position: absolute;
							font-size: 13px;
							font-weight: bold;
							left: 4px;
						}
					}
				}
			}
		}
		span {
			border: 2px solid #8f37aa;
			display: inline-block;
			color: #8f37aa;
			border-radius: 50%;
			width: 25px;
			height: 25px;
			text-transform: uppercase;
			-webkit-transition: 0.5s all;
			transition: 0.5s all;
		}
		.red {
			background-color: red;
			border-color: red;
		}
		.blue {
			background-color: blue;
			border-color: blue;
		}
		.green {
			background-color: green;
			border-color: green;
		}
		.orange {
			background-color: orange;
			border-color: orange;
		}
	}
	.card-body {
		padding: 0.25rem !important;
	}
	.shop-descript {
		font-size: 1.6rem;
	}
}
@media only screen and (max-width: 600px) {
	.shop-detail-page {
		#lightSlider {
            display: none;
		}
		.lSSlideOuter {
			.lSPager.lSGallery {
				width: 100% !important;
			}
		}
		li {
			width: 100% !important;
		}
        .lSSlideOuter .lSPager.lSGallery li:not(:first-child) {
            display: none!important;
        }
	}
}
